body{
    background-image: url("https://i.pinimg.com/originals/04/5f/96/045f96386935b0f63e7e2749250f4c00.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.5em;
    height: 100vh;
}

.logo{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    margin: 0 auto;
    width: 80%;
}

.logo-h1{
    background-color: rgb(177, 82, 39);
    color: white;
    border-radius: 10px;
    text-align: center;
    opacity: 0.8;
    font-family: "Lucida Handwriting" , "Brush Script MT", cursive;
}

.logo-h1:hover{
    opacity: 1.0;
    cursor: pointer;
}

.principal{
    background-color: rgb(58, 27, 14);
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    opacity: 0.92;
}

.nav ul{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    align-items: center;
    width: 100%;
    padding-left: 0;
}

.nav ul li{
    list-style: none;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 10px;
}

.nav ul li a{
    text-decoration: none;
    color: rgb(212, 211, 211);
}

.nav ul li a:hover{
    text-decoration: underline;
    color: white;
}
