body{
    background-image: url("https://i.pinimg.com/originals/04/5f/96/045f96386935b0f63e7e2749250f4c00.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logo{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    margin: 0 auto;
    width: 80%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.logo-h1{
    background-color: rgb(177, 82, 39);
    color: white;
    border-radius: 10px;
    text-align: center;
    opacity: 0.8;
    font-family: "Lucida Handwriting" , "Brush Script MT", cursive;
}

.logo-h1:hover{
    opacity: 1.0;
    cursor: pointer;
}

.principal{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2%;
}

.nav{
    background-color: rgb(58, 27, 14);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    opacity: 0.92;
}

.nav ul{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    align-items: center;
    width: 100%;
    padding-left: 0;
    margin: 0px;
}

.nav ul li{
    list-style: none;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.nav ul li a{
    text-decoration: underline;
    text-decoration-color: transparent;
    color: rgb(212, 211, 211);
    font-size: 19px;
}

.nav ul li a:hover{
    text-decoration-color: white;
    transition: 2s;
    color: white;
}

.home{
    background-color: black;
    opacity: 0.92;
}

.home-nav{
    color: white;
    width: 90%;
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.home-nav div:first-child{
    margin: 0;
}

.home-nav div{
    margin-left: auto;
}

.home-nav button{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 14px;
    color: white;
}

.home-nav button:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}

.content{
    background-color: rgb(58, 27, 14);
    opacity: 0.92;
    height: 100px;
}

.footer{
    background-color: rgb(58, 27, 14);
    opacity: 0.92;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.footer ul{ 
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    padding-left: 0;
    margin: 0px;
}

.footer ul li{
    list-style: none;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.footer ul li a{
    text-decoration: underline;
    text-decoration-color: transparent;
    color: rgb(212, 211, 211);
    font-size: 19px;
}

.footer ul li a:hover{
    text-decoration-color: white;
    transition: 2s;
    color: white;
}

.pre-content{
    background-color: rgb(58, 27, 14);
    opacity: 0.92;
}

.content{
    width: 90%;
    height: auto;
    background-color: rgb(29, 26, 26);
    margin: 0 auto;
    display: flex;
}

.content-left{
    width: 70%;
}

.content-left-init{
    color: white;
    text-align: center;
}

.content-left-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

.content-left-img img{
    display: block;
    border-radius: 8px;
    max-width: 90%;
    height: auto;
    transition: 2s;
}

.content-left-img img:hover{
    opacity: 1;
    transition: 2s;
    max-width: 92%;
}